In [1]:
import os
import pandas as pd


path = "Fall/"
fall_folders = os.listdir(path) # Fall1 , ... , Fall35

labels = pd.read_csv("Labels.csv")

name = labels["Unnamed: 0"]
start = labels["Fall Start"]
end = labels["Fall Stop"]

In [16]:
labels.head()

  Unnamed: 0  Fall Start  Fall Stop
0      Fall1         352        368
1      Fall2         336        353
2      Fall3         342        354
3      Fall4        1102       1137
4      Fall5         574        593

In [25]:
labels.T[0]

Unnamed: 0    Fall1
Fall Start      352
Fall Stop       368
Name: 0, dtype: object